@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet');
*{
    font-family: 'Poppins', sans-serif;
    color: #fff !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fonte para títulos */
.title-font{
    font-family: 'Roboto Mono', sans-serif;
}

/* links */
a{
    color: #eee ;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

select,
::picker(select) {
  appearance: base-select;
}

/* containers */
.common-container{
    background-color: #00000020 !important;
    border: 3px solid #fff ;
    border-radius: 5px;
}
.borderless{
    border: none;
}

/* botões */
.common-btn{
    background-color: #00000020;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    max-width: fit-content;
    align-self: center;
}
.common-btn:hover{
    background-color: #fff;
    color: #000 !important;
}
.common-btn:active{
    background-color: #ddd !important;
    color: #000000 !important;
    border: 3px solid #ddd !important;
}
.common-btn:hover .bi, .common-btn:active .bi{
    color: #000 !important;
}

/* inputs */
.common-input{
    background-color: #ffffff88;
    border: none;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    color: #fff;
}
.common-input:focus{
    background-color: #ffffffbb;
    color: #FDFCF7;
    box-shadow: none;
    border-left: 4px solid #F31111;
    border-bottom: 4px solid #F31111;
}
option.common-input{
    background-color: #313131;
}

/* faz os posters de filmes e series ficar do tamanho correto */
.fmsr-poster{
    height: 300px;
    width: 200px;
    border-radius: 5px;
}
.mini-poster{
    max-height: 75px;
    max-width: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
}
body{
    background-color: #313131;
}
.dropdown-menu{
    background-color: #313131;
}
.dropdown-menu .dropdown-item{
    background: none;
}
.nav-color{
    background-color: #000000;
}
.nav-logo img{
    width: 75px;
    height: 75px;
}
.cover{
    background: linear-gradient(90deg, #000000 0%, #00000000 50%), url(../img/pgn_login.jpg) no-repeat;
    background-size: cover;
}
.log-container{
    width: 30vw;
    height: 70vh;
}
.log-container h1{
    width: 100%;
    text-align: center;
    margin-top: .5em;
}
.log-form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer{
    background-color: #585858;
}
.listagem{
    background-color: #00000000 !important;
}
.listagem thead{
    border: 1px solid #fff;
    border-radius: 5px 5px 0 0;
}
.listagem tbody{
    border: 1px solid #fff;
    border-radius: 0 0 5px 5px;
}
.listagem th, .listagem td{
    background-color: #ffffff10;
}
.days-input{
    color: #000 !important; 
}

.limite{
    color: #D22424 !important;
    text-decoration: underline dashed;
}
@media (max-width: 767px){
    .fmsr-poster{
        max-width: 200px;
        height: 200px;
        margin-top: 0.5em;
    }
    .borderless-sm{
        border: none;
    }
    .log-container{
        width: 80vw;
        height: 80vh;
    }
    /* EU AMO BOOTSTRAP!!!!!!!!!! */
}