<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
        <!-- usar por link online quando tiver internet, caso contrário usar local -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- bootstrap icons -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> -->
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
    <!-- css extra -->
    <link rel="stylesheet" href="../style.css">
    <title>CineHome</title>
</head>
<body>
    <!-- el navbar -->
    <nav class="navbar nav-color p-0">
        <div class="container">
            <a href="#" class="navbar-brand nav-logo"><img src="../img/Logo Streaming Filmes.svg" alt="Logo"></a>
        </div>
    </nav>
    <!-- this is the main -->
    <main class="container-fluid cover p-md-5 pe-1 px-1">
        <div class="container mt-md-3 ms-md-5 p-4 pe-lg-1 col-md-5 col-sm-12 common-container borderless-sm">
            <h1 class="title-font">CineHome</h1>
            <p style="font-size: 1.6em;" class="mb-5 lh-lg">O lugar onde você<br>transforma sua casa em cinema!</p>
            <a href="../public/login.php" class="btn common-btn btn-sm">Login</a>
        </div>
    </main>
    <div class="container-fluid">
        <h3 class="title-font m-3">Um catálogo que abrange todos os gostos!</h3>
        
        <!-- negócios de filme série e yara yara yaba -->
        <div class="container-fluid">
            <p class="mb-4 mt-5 fs-5">Filmes</p>
            <div class="row rol-cols-4 m-3 g-2 g-lg-0">
                <div class="col">
                    <img src="../img/bonequinhadeluxo.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/charliechaplin.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/oppenheimer2.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/vingadores.jpg" alt="filme" class="fmsr-poster">
                </div>
            </div>
            <p class="mb-4 mt-5 fs-5">Séries</p>
            <div class="row rol-cols-4 m-3">
                <div class="col">
                    <img src="../img/greysanatomy.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/brooklyn99.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/cobrakai.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/todomundoodeiaochris.jpg" alt="filme" class="fmsr-poster">
                </div>
            </div>
            <p class="mb-4 mt-5 fs-5">Novelas</p>
            <div class="row rol-cols-4 m-3">
                <div class="col">
                    <img src="../img/avenidabrasil.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/cheiasdecharme.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/chiquititas.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/rebelde.jpg" alt="filme" class="fmsr-poster">
                </div>
            </div>
            <p class="mb-4 mt-5 fs-5">Desenhos</p>
            <div class="row rol-cols-4 m-3">
                <div class="col">
                    <img src="../img/picapau.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/winx.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/backardigans.jpg" alt="filme" class="fmsr-poster">
                </div>
                <div class="col">
                    <img src="../img/flinstones.jpg" alt="filme" class="fmsr-poster">
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex flex-column align-items-center justify-content-center">
        <div class="nav-logo"><img src="../img/Logo_streaming(2).png" alt="Logo"></div>
        <p class="lh-1"><strong>Entre em contato:</strong> contact@cinehome.com</p>
        <p class="lh-1" style="font-size: small;">©️2025, Cinehome.com | Direitos Reservados</p>
    </footer>

    <!-- js do bootstrap -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>